/*
 User Interface Layout
 Layer 0: Body
 Layer 1: Above Content
 Layer 2: Search bar
 Layer 3: Dark Layer
 Layer 4: Drawer Menu
 Layer 5: Dark Layer .config
 Layer 6: Config Window
*/

/* Global */
@font-face
{
 font-family: 'ABeeZee';
 src:  url('fonts/ABeeZee-Regular.ttf');
 font-weight: normal;
 font-style: normal;
 font-display: swap;
}
@font-face
{
 font-family: 'Oswald';
 src:  url('fonts/Oswald-Regular.ttf');
 font-weight: 700;
 font-style: normal;
 font-display: swap;
}
@font-face
{
 font-family: 'icomoon';
 src:  url('fonts/icomoon.eot?c7t6lo');
 src:  url('fonts/icomoon.eot?c7t6lo#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?c7t6lo') format('truetype'),
        url('fonts/icomoon.woff?c7t6lo') format('woff'),
        url('fonts/icomoon.svg?c7t6lo#icomoon') format('svg');
 font-weight: normal;
 font-style: normal;
 font-display: swap;
}
*
{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: "ABeeZee", Comic Sans;
}
html
{
 font-size: 100%;
}
.setting-font-larger
{
 font-size: 120%;
}
.setting-font-largest
{
 font-size: 150%;
}
ul
{
 list-style: none;
}

/* Default & Closed States */
/* Top Row */
header[role="banner"]
{
 display: table-cell;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 width: 100%;
 height: 1.8rem;
 line-height: 1.5rem;
 vertical-align: top;
 z-index: 1;
}
#text-site-title
{
 float: left;
 display: inline-block;
 padding: 0 5px 0 5px;
 min-width: 11.6rem;
 width: 12.5rem;
 font-size: 4rem;
 line-height: 1.75rem;
 letter-spacing: -3px;
 overflow: hidden;
 white-space: nowrap;
 transition: all 200ms;
}
#text-site-title a
{
 position: relative;
 display: block;
 margin: 0;
 height: 1.9rem;
 font-size: 1.8rem;
 transition: all 0.1s;
}
#text-site-title a::before
{
 content: attr(data-char);
 position: absolute;
 top: 0;
 letter-spacing: -3px;
 clip-path: polygon( 120% 0, 120% 110%, 4% 110% );
 text-decoration: underline;
 opacity: 1;
 transition: opacity 200ms;
}
#line-input-search
{
 position: fixed;
 border: 0;
 width: calc( 100% - 13.5rem );
 padding-bottom: 1px;
 background: transparent;
 line-height: 1.5rem;
 font-size: 1rem;
 transition: all 200ms;
 top: 0;
 left: calc( 13.5rem );
 right: 0;
 z-index: 2;
}
/* Navigation */
#button-main-menu,
#button-code-generator
{
 display: block;
 position: fixed;
 left: 2px;
 top: 1.9rem;
 border: 1px solid #ccc;
 padding: 30px 5px 5px 5px;
 box-shadow: 0 0 5px #000;
 line-height: 1.2rem;
 font-size: 1.2rem;
 font-family: 'Oswald';
 text-transform: uppercase;
 cursor: pointer;
 z-index: 4;
 transition: all 200ms;
}
#button-main-menu::before
{
 display: block;
 margin-top: 5px;
 margin-bottom: 0;
 content: "Open";
 font-size: 1rem;
}
#button-main-menu:hover,
#button-code-generator:hover,
#button-main-menu:focus,
#button-code-generator:focus
{
 background: rgba( 40, 40, 40, 0.7 );
 top: 0px;
 padding: 32px 7px 8px 7px;
 box-shadow: 0 0 10px rgba( 0, 0, 0, 0.5 );
}
#button-main-menu:not(.open):hover
{
 left: 0px;
}
#button-main-menu:focus,
#wrapper-main-menu a:focus,
#wrapper-main-menu ul button:focus,
#wrapper-settings-accessibility h2:focus,
#wrapper-settings-accessibility select:focus,
#wrapper-settings-accessibility button:focus,
#text-recommended-topics a:focus
{
 border-left: 5px solid #090;
}
#button-main-menu svg
{
 display: block;
 position: absolute;
 top: 0;
 left: calc( 50% - 25px );
 height: 37px;
 width: 50px;
}
#button-main-menu svg rect
{
 position: relative;
 transition: all 300ms;
 transition-delay: 500ms;
}
#button-main-menu rect:first-child
{
 transform-origin: 15px 12.5px;
}
#button-main-menu rect:nth-child(2)
{
 transform-origin: 35px 12.5px;
}
#button-main-menu rect:nth-child(3)
{
 transform-origin: 15px 24.5px;
}
#button-main-menu rect:last-child
{
 transform-origin: 35px 24.5px;
}
#wrapper-main-menu
{
 position: fixed;
 top: 0;
 bottom: 0;
 left: 0px;
 width: 0;
 max-width: 200px;
 overflow-y: auto;
 z-index: 4;
 transition: width 200ms;
}
#wrapper-main-menu a,
#wrapper-main-menu ul button
{
 display: block;
 width: 100%;
 padding: 0.8rem 0;
 font-size: 1rem;
 transition: all 200ms;
}
#wrapper-main-menu ul button
{
 border: 0;
 text-align: left;
 cursor: pointer;
}
#wrapper-main-menu ul ul
{
 display: none;
}
#wrapper-main-menu ul ul a
{
 padding-left: 2rem;
}
#background-black-alpha
{
 position: fixed;
 z-index: 3;
}
#wrapper-settings-accessibility
{
 position: absolute;
 top: -50%;
 left: 50%;
 transform: translateX(-50%) translateY(-50%);
 width: 100%;
 max-width: 500px;
 max-height: 100vh;
 border-radius: 4px;
 padding: 1rem;
 box-shadow: 0 0 3px #000;
 overflow-y: auto;
 z-index: 6;
 transition: top 200ms;
}
#wrapper-settings-accessibility h2
{
 border-left: 0;
 transition: all 200ms;
}
#wrapper-accessibility-save-exit
{
 font-size: 0;
}
form select,
form button,
form input[type="checkbox"]
{
 margin-top: 20px;
 font-size: 1rem;
}
form select
{
 border-top: 0;
 border-left: 0;
 border-right: 0;
 padding-left: 1rem;
 padding-right: 1rem;
 background: transparent;
}
form button
{
 display: inline-block;
 border: 1px solid #ddd;;
 padding: 10px;
 width: 49%;
}
#button-settings-accessibility-save
{
 margin-right: 1%;
}
#wrapper-settings-accessibility p
{
 margin-top: 1rem;
 font-size: 1rem;
}
/* Main Site Structure */
#wrapper-main-site-content
{
 margin-top: 2.5em;
 margin-left: 4em;
 margin-right: auto;
 width: calc( 100% - 4em );
 min-width: 200px;
 transition: all 300ms;
}
/* Welcome Section */
#wrapper-home-page-content h2
{
 margin-top: 20px;
 margin-bottom: 2rem;
 text-align: center;
 font-size: 2.2rem;
}
#wrapper-home-page-content p
{
 transition: all 0.3s;
}
#text-recommended-topics
{
 margin: 0 auto;
 width: 100%;
 min-width: 200px;
 font-size: 1.25rem;
 padding: 0.5em 1em 0.5em 1em;
 line-height: 1.8rem;
 transition: all 0.2s;
}
#text-recommended-topics a
{
 display: block;
 transition: all 0.2s;
 margin: 0.5%;
 width: 100%;
 padding: 10px;
 font-weight: 600;
}
#text-recommended-topics a:before
{
 display: inline-block;
 content:'🔗';
 padding-right: 2px;
 text-decoration: none;
}
/* Main Website Content */
.chapter
{
 margin: 5px;
 padding: 5px;
}
section
{
 position: relative;
 display: flex;
 flex-flow: wrap;
 align-items: flex-start;
 margin: 10px auto;
 width: 100%;
 padding: 0;
 white-space: normal;
 overflow: hidden;
}
.chapter:not(.open) section
{
 display: none;
}
[class^="icon-"]::before,
[class^="icon-"]::after,
[class*=" icon-"]::before,
[class*=" icon-"]::after,
.chapter::before,
.resource::before,
.btn::before
{
 font-family: 'icomoon' !important;
 speak: none;
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 text-transform: none;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}
.icon-plus::before,
.chapter::before,
.resource::before,
.btn::before
{
 content: "\f067";
}
.icon-external-link:after
{
 content: "\f08e";
 margin-left: 1rem;
}
.chapter::before,
.resource::before
{
 position: absolute;
 right: 10px;
 line-height: 24px;
}
.button-chapter-name
{
 width: 100%;
 border: 0;
 padding-right: 1rem;
 background: transparent;
 text-align: left;
 font-size: 1.5em;
}
.resource
{
 position: relative;
 display: block;
 flex: 1;
 flex-basis: 100%;
 margin: 3px;
 padding: 5px 25px 5px 5px;
 font-size: 1rem;
 cursor: pointer;
}
.resource a
{
 display: block;
}
.resource-details
{
 display: block;
 margin-top: 1rem;
}
.btn
{
 position: absolute;
 top: 0;
 bottom: 0;
 right: 0;
 border: 0;
 width: 2rem;
 font-size: 1.5rem;
 text-align: center;
}
.btn::before
{
 position: absolute;
 top: 50%;
 right: 0.5rem;
 transform: translateY(-51%);
}
.resource-details::before
{
 content: " ";
 display: block;
 font-size: 0;
 height: 0;
 line-height: 0;
 overflow-y: hidden;
}
.resource:not(.open) .resource-details
{
 position: absolute;
 height: 0;
 font-size: 0;
 overflow-y: hidden;
}
.tag
{
 margin-right: 1em;
 border-radius: 20px;
 padding: 0 8px;
}
.topic
{
 display: block;
}



/* Active & Open States */
#button-main-menu:hover,
#button-main-menu:focus
{
 top: 1.8rem;
}
#button-main-menu.open
{
 left: 202px;
}
#button-main-menu.open::before
{
 content: "Close";
}
#button-main-menu.open:hover
{
 left: 200px;
}
#button-main-menu.open rect:first-child
{
 transform: rotate(45deg) translate(3px,-3px);
}
#button-main-menu.open rect:nth-child(2)
{
 transform: rotate(-45deg) translate(-3px,-3px);
}
#button-main-menu.open rect:nth-child(3)
{
 transform: rotate(-45deg) translate(3px,3px);
}
#button-main-menu.open rect:nth-child(4)
{
 transform: rotate(45deg) translate(-3px,3px);
}
#wrapper-main-menu.open
{
 width: 100%;
}
#wrapper-main-menu.open ul button,
#wrapper-main-menu.open a
{
 padding: 0.8rem 1rem;
}
#wrapper-main-menu ul button.open+ul,
#setting-unfolding-marker.setting-content-unfolded ~ #wrapper-main-menu ul button+ul
{
 display: initial;
}
#background-black-alpha.open
{
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
}
#wrapper-settings-accessibility.open
{
 top: 50%;
}
#wrapper-settings-accessibility h2:focus
{
 padding-left: 1rem;
}
#background-black-alpha.config,
#background-black-alpha.gen
{
 z-index: 5;
}
/* Top Row */
#line-input-search:focus:not(:placeholder-shown)
{
 left: 0;
 width: calc( 100% - 10px );
}
#line-input-search:focus:not(:placeholder-shown) ~ header #text-site-title
{
 padding: 0;
 min-width: 0;
 width: 0;
}
#text-site-title > a:focus::before
{
 opacity: 0;
}
.icon-plus::before,
.chapter.open::before,
.resource.open::before
{
 content: "\f068";
}
#line-input-search:focus:not(:placeholder-shown) ~ #wrapper-main-site-content #wrapper-home-page-content,
div.resource.hidden,
#wrapper-home-page-content.hidden
{
 display: none;
}
#line-input-search:not(:placeholder-shown) ~ #wrapper-main-site-content .chapter:not(.open) section,
#line-input-search:not(:placeholder-shown) ~ #wrapper-main-site-content .chapter.open section,
#setting-unfolding-marker.setting-content-unfolded ~  #wrapper-main-site-content .chapter section
{
 display: flex;
}

/* Coloring - Default (Dark) */
body
{
 background-image: linear-gradient( 125deg,
  transparent 90%,
   #b33 0, #b33 90.77%,
   #a43 0, #a43 91.54%,
   #a63 0, #a63 92.31%,
   #984 0, #984 93.08%,
   #683 0, #683 93.85%,
   #474 0, #474 94.62%,
   #365 0, #365 95.39%,
   #466 0, #466 96.16%,
   #346 0, #346 96.93%,
   #335 0, #335 97.7%,
   #435 0, #435 98.47%,
   #635 0, #635 99.24%,
   #835 0
 );
 background-size: 100vw 100vh;
 background-attachment: fixed;
}
.setting-theme-dark,
body
{
 background-color: #050510;
}
#button-main-menu
{
 background: #111;
}
#button-main-menu,
#button-main-menu::before,
#wrapper-main-menu ul button,
#wrapper-main-menu a
{
 color: #ddd;
}
#button-main-menu:active
{
 background: rgba( 0, 0, 0, 0.95 );
}
#button-main-menu rect
{
 stroke: #ddd;
 fill: #ddd;
}
#wrapper-main-menu
{
 background: #224;
}
#wrapper-main-menu ul button,
.tag,
#wrapper-home-page-content p a
{
 text-shadow: 0 0 2px #000,
  -1px -1px 0 #000,
   1px  1px 0 #000,
   1px -1px 0 #000,
  -1px  1px 0 #000,
   0   -1px 0 #000,
   0    1px 0 #000,
 -1px   0   0 #000,
  1px   0   0 #000;
}
.tag,
.resource-details
{
 color: #ccc;
}
#wrapper-main-menu #button-settings-accessibility
{
 background: #222;
}
#wrapper-main-menu a:focus,
#wrapper-main-menu button.button-toggle-submenu:focus
{
 background: #111;
}
#background-black-alpha.open
{
 background: rgba( 0, 0, 0, 0.8 );
}
#wrapper-settings-accessibility
{
 background: #2F2F2F;
 color: #ddd;
}
#wrapper-settings-accessibility select
{
 color: #ddd;
}
#wrapper-settings-accessibility option
{
 background: #111;
}
#wrapper-settings-accessibility button
{
 background: #444;
 color: #fff;
}
form button
{
 border: 1px solid #fff;
}
form select
{
 border-bottom: 1px solid #fff;
}
/* Dark Coloring (site) */
header[role="banner"]
{
 background: #111;
}
#text-site-title
{
 text-shadow: -4px 4px 0 #303;
}
#text-site-title a:focus,
#wrapper-home-page-content a:focus
{
 text-decoration-color: #090;
}
#text-site-title a:focus
{
 color: #e0e0e0;
}
#text-site-title a
{
 color: #c33;
 text-shadow: 0 0 5px rgba( 0, 0, 70, 0.5);
}
#text-site-title a::before
{
 color: #33d;
}
#line-input-search
{
 border-bottom: 1px solid #ccc;
 color: #ccc;
}
#line-input-search:focus
{
 border-bottom-color: #090;
 color: #fff;
}
/* Dark Welcome section */
h2
{
 color: #ccc;
}
#wrapper-home-page-content p
{
 color: #bbd4d4;
}
#wrapper-home-page-content p a
{
 color: #ddd;
}
#wrapper-home-page-content p a:focus
{
 background: #001;
 color: #fff;
}
/* Main website content */
section
{
 box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
.chapter
{
 background: #0d0d0d;
}
.chapter::before,
.resource::before
{
 color: #bbb;
}
.resource
{
 box-shadow: 0 0 3px rgba( 0, 0, 0, 0.5 );
 background: #171717;
}
.resource a
{
 color: #ddd;
}
.resource:focus,
.resource .btn:focus,
.chapter .button-chapter-name:focus
{
 border-left: 5px solid #090;
}
.resource:focus
{
 background: #1d1d1d;
}
.resource:focus a
{
 text-decoration-color: #090;
}
.sum:focus
{
 color: #fff;
 text-decoration-color: #090;
}
.button-chapter-name
{
 color: #bbb;
}
.btn
{
 background-color: #252525;
}

/* Coloring - setting-theme-bright (trend towards orange, here) */
body.setting-theme-bright
{
 background-color: #fed;
 color: #333;
}
.setting-theme-bright header[role="banner"]
{
 background: #ddd;
}
.setting-theme-bright #text-site-title a:focus,
.setting-theme-bright #wrapper-home-page-content a:focus
{
 text-decoration-color: #22b;
}
.setting-theme-bright #text-site-title a
{
 color: #900;
 text-shadow: 0 0 5px rgba( 255, 250, 240, 0.5);
}
.setting-theme-bright #text-site-title > a:before
{
 color: #00a;
}
.setting-theme-bright #line-input-search
{
 border-bottom-color: #222;
 color: #222;
}
.setting-theme-bright #button-main-menu
{
 background: #ccc;
 color: #111;
}
.setting-theme-bright #button-main-menu svg rect
{
 stroke: #111;
 fill: #111;
}
.setting-theme-bright #button-main-menu:active
{
 background: rgba( 255, 255, 255, 0.95 );
}
.setting-theme-bright #wrapper-main-menu
{
 background: #f3c551;
}
.setting-theme-bright #wrapper-main-menu button,
.setting-theme-bright .resource-details,
.setting-theme-bright #button-main-menu::before
{
 color: #111;
}
.setting-theme-bright #wrapper-main-menu #button-settings-accessibility
{
 background: #ddd;
}
.setting-theme-bright #wrapper-main-menu a:focus,
.setting-theme-bright #wrapper-main-menu button.button-toggle-submenu:focus
{
 background: #ddd;
}
.setting-theme-bright #wrapper-main-menu ul button,
.setting-theme-bright .tag,
.setting-theme-bright #wrapper-home-page-content p a
{
 font-weight: 900;
 text-shadow: 0 0 5px #fff,
  0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff,
  -1px -1px 0 #fff,
   1px  1px 0 #fff,
   1px -1px 0 #fff,
  -1px  1px 0 #fff,
   0   -1px 0 #fff,
   0    1px 0 #fff,
 -1px   0   0 #fff,
  1px   0   0 #fff;
}
.setting-theme-bright .tag
{
 color: #000;
}
.setting-theme-bright #wrapper-main-menu a
{
 color: #000;
 font-weight: 900;
}
.setting-theme-bright #background-black-alpha.open
{
 background: rgba( 255, 255, 255, 0.8 );
}
.setting-theme-bright #wrapper-settings-accessibility
{
 background: #BFBFBF;
 color: #333;
}
.setting-theme-bright #wrapper-settings-accessibility select
{
 color: #222;
}
.setting-theme-bright #wrapper-settings-accessibility option
{
 background: #ddd;
}
.setting-theme-bright #wrapper-settings-accessibility button
{
 background: #ccc;
 color: #000;
}
.setting-theme-bright form select
{
 border-bottom: 1px solid #000;
}
.setting-theme-bright form button
{
 border: 1px solid #222;
}
.setting-theme-bright #button-main-menu:focus,
.setting-theme-bright #wrapper-main-menu a:focus,
.setting-theme-bright #wrapper-main-menu button:focus,
.setting-theme-bright #wrapper-settings-accessibility h2:focus,
.setting-theme-bright #wrapper-settings-accessibility select:focus,
.setting-theme-bright #wrapper-settings-accessibility button:focus
.setting-theme-bright #text-recommended-topics a:focus
{
 border-left: 5px solid #22b;
}
/* Main Site */
.setting-theme-bright section
{
 box-shadow: 0 0 10px rgba( 255, 255, 255, 0.4 );
}
.setting-theme-bright .chapter
{
 background: #f2f2f2;
}
.setting-theme-bright .button-chapter-name
{
 color: #444;
}
.setting-theme-bright .resource
{
 box-shadow: 0 0 3px rgba( 255, 255, 255, 0.5 );
 background: #e8e8e8;
}
.setting-theme-bright .resource a
{
 color: #000;
}
.setting-theme-bright .resource:focus a
{
 text-decoration-color: #02b;
}
.setting-theme-bright .chapter::before,
.setting-theme-bright .resource::before
{
 color: #444;
}
.setting-theme-bright .btn
{
 background-color: #dadada;
}
/* Welcome */
.setting-theme-bright h2
{
 color: #222;
}
.setting-theme-bright #wrapper-home-page-content p
{
 color: #222;
}
.setting-theme-bright #wrapper-home-page-content p a
{
 color: #000;
}
.setting-theme-bright #wrapper-home-page-content p a:focus
{
 border-left: 5px solid #02b;
 background: #fee;
 color: #000;
 text-decoration-color: #02b;
}

/* Rainbow colors */
.red
{
 background: #b33;
}
.scarlet
{
 background: #a43;
}
.orange
{
 background: #a63;
}
.yellow
{
 background: #984;
}
.lime
{
 background: #683;
}
.green
{
 background: #474;
}
.turquoise
{
 background: #365;
}
.skyblue
{
 background: #466;
}
.cobalt
{
 background: #346;
}
.blue
{
 background: #335;
}
.purple
{
 background: #435;
}
.violet
{
 background: #635;
}
.rose
{
 background: #835;
}
.setting-theme-bright .red
{
 background: #d17474;
}
.setting-theme-bright .scarlet
{
 background: #c57f74;
}
.setting-theme-bright .orange
{
 background: #c59674;
}
.setting-theme-bright .yellow
{
 background: #b9ae7f;
}
.setting-theme-bright .lime
{
 background: #96ae74;
}
.setting-theme-bright .green
{
 background: #7fa27f;
}
.setting-theme-bright .turquoise
{
 background: #74968b;
}
.setting-theme-bright .skyblue
{
 background: #7f9696;
}
.setting-theme-bright .cobalt
{
 background: #747f96;
}
.setting-theme-bright .blue
{
 background: #74748b;
}
.setting-theme-bright .purple
{
 background: #7f748b;
}
.setting-theme-bright .violet
{
 background: #96748b;
}
.setting-theme-bright .rose
{
 background: #ae748b;
}


/* Code Generation */
#button-code-generator
{
 position: fixed;
 top: auto;
 padding-top: 0.3rem;
 bottom: 0.2rem;
 left: 0.125rem;
 z-index: 1;
}
#button-code-generator:hover,
#button-code-generator:focus
{
 top: auto;
 bottom: 0;
 left: 0;
 padding-top: 0.4rem;
}



/* Structure: Active State */
#wrapper-code-generator
{
 position: absolute;
 top: -200vh;
 left: 50%;
 transform: translateX(-50%) translateY(-50%);
 width: 100%;
 max-width: 800px;
 max-height: 90vh;
 border-radius: 4px;
 box-shadow: 0 0 10px rgba( 0, 0, 0, 0.3 );
 padding: 10px;
 z-index: 6;
 transition: all 0.5s;
}
#wrapper-code-generator p
{
 margin-bottom: 1.5rem;
}
.wrapper-layout-half-left
{
 float: none;
 width: 100%;
}
#wrapper-code-generator select
{
 margin-top: 0;
 margin-bottom: 1rem;
 width: 100%;
}
#wrapper-code-generator input
{
 width: 100%;
 font-size: 1.2rem;
 margin-bottom: 1rem;
}
#wrapper-code-generator textarea
{
 width: 100%;
 margin-bottom: 1rem;
 height: 6.9rem;
 overflow-y: scroll;
 font-family: courier;
}
#wrapper-code-generator button
{
 margin-top: 0;
}
#button-code-generator-close
{
 width: 100%;
}

/* Active, changed states */
#wrapper-code-generator.active
{
 top: 50%;
}

/* Colors */
#button-code-generator
{
 background: #111;
 color: #ccc;
}
#button-code-generator:hover
{
 color: #eee;
}
#button-code-generator:focus
{
 border-left: 5px solid #090;
}
#wrapper-code-generator
{
 background: #333;
 color: #bbb;
}
#wrapper-code-generator select
{
 color: #ccc;
}
#wrapper-code-generator option
{
 color: #bbb;
 background: #222;
}
#wrapper-code-generator input, #wrapper-code-generator textarea, #wrapper-code-generator button
{
 background: #444;
 border: 0;
 border-bottom: 1px solid #ddd;
 color: #ddd;
}
#wrapper-code-generator input:focus,
#wrapper-code-generator select:focus,
#wrapper-code-generator textarea:focus,
#wrapper-code-generator button:focus,
#wrapper-code-generator h3:focus
{
 border-left: 5px solid #090 !important;
}

/* setting-theme-bright theme */
.setting-theme-bright #button-code-generator
{
 border: 0;
 background: #ccc;
 color: #111;
}
.setting-theme-bright #button-code-generator:hover
{
 color: #000;
}
.setting-theme-bright #button-code-generator:focus,
.setting-theme-bright #wrapper-settings-accessibility button:focus
{
 border-left: 5px solid #02b;
}
.setting-theme-bright #wrapper-code-generator
{
 background: #bbb;
 color: #000;
}
.setting-theme-bright #wrapper-code-generator select
{
 color: #111;
}
.setting-theme-bright #wrapper-code-generator option
{
 color: #000;
 background: #eee;
}
.setting-theme-bright #wrapper-code-generator input,
.setting-theme-bright #wrapper-code-generator textarea,
.setting-theme-bright #wrapper-code-generator button
{
 background: #999;
 border-bottom: 1px solid #222;
 color: #000;
}
#wrapper-code-generator button,
#wrapper-code-generator button
{
 border: 0;
}
.setting-theme-bright #wrapper-code-generator input:focus,
.setting-theme-bright #wrapper-code-generator select:focus,
.setting-theme-bright #wrapper-code-generator textarea:focus,
.setting-theme-bright #wrapper-code-generator button:focus,
.setting-theme-bright #wrapper-code-generator h3:focus
{
 border-left: 5px solid #02b !important;
}

/* @media changes */
@media screen and ( min-width: 981px )
{
 .wrapper-layout-half-left
 {
  float: left;
  width: 50%;
  padding-right: 10px;
 }
 #wrapper-code-generator textarea
 {
  width: 50%;
  height: 12.6rem;
 }
 .resource
 {
  flex-basis: 32.9%;
 }
 .resource a
 {
  display: inline;
 }
}

#dynamic-loading-bar
{
 position: absolute;
 top: 1.7rem;
 left: 0;
 height: 3px;
 background: green;
 transition: height 2s;
}
/* Just cool additions */
#dynamic-loading-bar:not(.loading-complete)::after
{
 content: attr(loading);
 display: block;
 position: absolute;
 top: 0;
 left: 5rem;
 height: 20px;
 padding: 5px;
 background: green;
 text-align: right;
 color: #fff;
 z-index: 1;
}
#dynamic-loading-bar.loading-complete
{
 height: 0;
}
